@model INFO_3420_Final.Models.Partner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Partner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    <br />
    <h4>Locations</h4>
    <table class="table">
        <tr>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                ZIP
            </th>
        </tr>

        @foreach (var item in Model.Locations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
        </tr>
}
        </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PartnerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
