@model IEnumerable<INFO_3420_Final.Models.Shipment>

@{
    ViewBag.Title = "Shipments";
}

<h2>Shipments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabelDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipByDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackingNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabelDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipByDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrackingNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShipmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShipmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShipmentId })
        </td>
    </tr>
}

</table>
