@model IEnumerable<INFO_3420_Final.Models.Shipment>

@{
    ViewBag.Title = "Shipments";
}

<h2>Shipments</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Request Label", "RequestLabel", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Username")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabelDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackingNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoeSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabelDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrackingNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoeSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ShipmentId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ShipmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ShipmentId })
        </td>
    </tr>
}

</table>
