@model IEnumerable<INFO_3420_Final.Models.SiteRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteRoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteRoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SiteRoleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SiteRoleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SiteRoleId })
        </td>
    </tr>
}

</table>
